a {
	text-decoration: none;
	color: #000;
}

.topbar {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	border-bottom: 1px solid #e6e6e6;
	height: 76px;
	display: flex;
	align-items: center;
}

.topbar > li > a {
	text-decoration: none;
	color: #262626;
	font-style: normal;
}

ul.topbar {
	list-style: none;
}

li {
	margin-right: 15px;
	display: inline;
}

.postcontainer {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

body {
	color: #262626;
	margin: 0px;
	background-color: #FAFAFA;
	font-family: "Roboto";
}

.post {
	background-color: #FFFFFF;
	margin-bottom: 60px;
	border: 1px solid #e6e6e6;
}

.authorbar {
	height: 64px;
	width: 100%;

}

.usericon {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 15px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-left: 15px;
	vertical-align: middle;
}

.commentbar {
	padding: 15px;

}

.fileinput {
	line-height: 48px;
	background-color: #3897F0;
	height: 48px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
}

.text_field {
	background-color: #FAFAFA;
	border: 1px solid #e6e6e6;
	color: #262626;
	padding: 3px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
#dog_profiles {
        width: 100%;
}


.required {
    color: red;
}

.timelineform {
	margin-top: 60px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 60px;
}

.submitbutton {
	/*line-height: 48px;*/
	background-color: #3897F0;
	/*height: 48px;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
}

.submitbutton:hover {
	background-color: #2d80ce;
    cursor: pointer;
	
}

.profilecontainer {
	width: 100%;
    height:100%;
    position: relative;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}


.gridpic {
	height: 293px;
	width: 293px;
	margin-right: 28px;
	margin-bottom: 28px;
}

.gridpiclast {
	height: 293px;
	width: 293px;
	margin-bottom: 28px;
}

.profilepicbutton{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 0px 25px 10px 25px ;

}

.profilepicbutton:hover{
    cursor: pointer;
    
}

.post {
    background: #FFFFFF;
    border: solid gray 1px;
    width:400px;
    margin: 20px auto;
    
}

#footer {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    color:gray;
}

.postpic {
    width: 100%;
    height: auto;
    
}

#like_button{
    text-shadow: 0 0 3px #000;
    color: white;
}

#like_button:hover{
    cursor: pointer;
}


#droppicbutton {
    width: 25px;
    height: 25px;
}

.profilepic {
	vertical-align: middle;
	height: 152px;
	width: 152px;
	border-radius: 76px;
	margin-bottom: 20px;
}

.profiledescription {
	width: 935px;
	padding-left: 70px;
	padding-right: 70px;
}

.chatnames {
	width: 30%;
	float: left;
	border: 1px solid #e6e6e6;
	height: 100%;
	flex: 1;
}

.chatcontainer {
	width: 60%;
	float: right;
	border: 1px solid #e6e6e6;
	height: 100%;
}

.wrapper {
	border: 1px solid #e6e6e6;
	height: 100%;
	width: 100%;
	display: flex;
}